.welcome-card img {
    overflow: hidden;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

#iconojugar {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}

#jugar {
    margin-left: 0px;
    margin-right: 0px;
}

 
