<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
            ILEARN
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Default Input -->
    <ion-input></ion-input>
    <ion-card class="ion-text-center" color="primary">!Registrate para empezar a jugar¡</ion-card>
    <!-- Input with placeholder -->
    <ion-input placeholder="NOMBRE"></ion-input>

    <!-- Input with placeholder -->
    <ion-input placeholder="APELLIDO"></ion-input>

    <ion-card class="ion-text-center" color="primary">Elige tu edad</ion-card>

    <!-- Number type input -->
    <ion-input type="number" value="5"></ion-input>
    <ion-card class="ion-text-center" color="success">
        <ion-button expand="full" color="success"> REGISTRAR </ion-button>
    </ion-card>


</ion-content>